/* basic */
@import url(/css/setup/vars.css);
@import url(/css/setup/helpers.css);
@import url(/css/setup/font-family.css);
/* cmps */
@import url(/css/setup/icon-hover-color.css);
@import url(/css/setup/btn-modal-open.css);
@import url(/css/setup/cmps/header.css);
@import url(/css/setup/cmps/drop-down.css);
@import url(/css/setup/cmps/modal.css);
@import url(/css/setup/cmps/main-content.css);
@import url(/css/setup/cmps/footer.css);

* {
    font-family: Lato, serif;
    box-sizing: border-box;
    margin: 0;
}