.screen-modal {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
}

.modal-data {
    position: fixed;
    background-color: var(--clr1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    min-height: 350px;
    max-width: 450px;
    border-radius: 5px;
    padding: 1em;
    transition: 0.3 ease-in-out;
    display: none;
    z-index: 10;


}

.modal-data p {
    color: var(--clr2);
    font-weight: 400;
}

.modal-data h2 {
    color: #4f4e4e;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;

}

.modal-btn-close {
    width: 145px;
    padding: 1em;
    align-self: center;
    font-weight: bold;
    background-color: #4f4e4e;
    border: none;
    color: var(--clr1);
    text-transform: uppercase;

}

@media (max-width: 740px) {
    .modal-data {
        min-width: 100%;
        min-height: 100%;
    }
    
}
